<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>방명록 페이지</title>
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- custom js -->
    <script defer src="../static/visitor.js"></script>
  </head>
  <body>
    <h2>방명록 페이지</h2>
    <form name="visitor-form">
      <fieldset>
        <legend>방명록 등록</legend>
        <input type="text" name="name" placeholder="사용자 이름" /><br />
        <input type="text" name="comment" placeholder="간단 방명록 작성" />
        <div id="btn-group">
          <button type="button" onclick="createVisitor()">방명록 등록</button>
        </div>
      </fieldset>
    </form>

    <br /><br />
    <table border="1" cellspacing="0">
      <thead>
        <tr>
          <th>ID</th>
          <th>작성자</th>
          <th>방명록</th>
          <th>수정</th>
          <th>삭제</th>
        </tr>
      </thead>
      <tbody>
        <% for(visitor of data) { %>
        <tr id="tr_<%=visitor.id%>">
          <td><%=visitor.id%></td>
          <td><%=visitor.name%></td>
          <td><%=visitor.comment%></td>
          <td>
            <button type="button" onclick="editVisitor('<%=visitor.id%>')">
              수정
            </button>
          </td>
          <td>
            <button
              type="button"
              onclick="deleteVisitor(this, '<%=visitor.id%>')"
            >
              삭제
            </button>
          </td>
        </tr>
        <%}%>
      </tbody>
    </table>
  </body>
</html>
