<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form 배우기</title>
  </head>
  <body>
    <h2>POST 요청</h2>
    <form action="/postNotice" method="post">
      <label>
        이름:
        <input type="text" name="name" required/>
      </label>

            <fieldset>
              <legend>성별</legend>
              <label>
                <input type="radio" name="gender" value="남자" required/> 남자
                <input type="radio" name="gender" value="여자" required/> 여자
              </label>
              <br />
            </fieldset>

            <fieldset>
              <legend>생년월일</legend>
              <label>
                <select id="year" name="year">
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                </select>
                <select id="month" name="month">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <select id="day" name="day">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
      
                
              </label>
              <br />
            </fieldset>

            <fieldset>
              <legend>관심사</legend>
              <label>
                <input type="checkbox" name="tour" value="여행" /> 여행
              </label>
              <label>
                <input type="checkbox" name="fashion" value="패션" />
                패션
              </label>
      
              <label>
                <input type="checkbox" name="food" value="음식" /> 음식
              </label>
            </fieldset>
            <fieldset>
                <legend>선택</legend>
                <div>좋아하는 색상
                    <input type="color" id="color" name="color" value="#ff0000">
                </div>  
                <div>1부터 10까지 중 좋아하는 숫자
                    <input type="number" id="quantity" name="quantity" min="1" max="10">
        </fieldset>
            <input type="submit" value="회원가입" />
        </form>
        </body>
      </html>
  </body>
</html> -->
<!--  여기서부턴 해답 -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습문제2 (form의 POST요청)</title>
  </head>
  <body>
    <h1>실습문제2</h1>
    <form action="/practice" method="post">
      <label for="name">
        이름
        <input type="text" id="name" name="name" />
      </label>

      <fieldset>
        <legend>성별</legend>
        <label for="male">
          <input type="radio" name="gender" id="male" value="남자" /> 남자
        </label>
        <label for="female">
          <input type="radio" name="gender" id="female" value="여자" /> 여자
        </label>
      </fieldset>
      <fieldset>
        <legend>생년월일</legend>
        <select name="year" id="year">
          <%for(let i=1985; i<=2003; i++){%>
          <option value="<%=i%>"><%=i%></option>
          <%}%>
        </select>
        <span>년</span>
        <select name="month" id="month">
          <%for(let i=1; i<=12; i++){%>
          <option value="<%=i%>"><%=i%></option>
          <%}%>
        </select>
        <span>월</span>
        <select name="date" id="date">
          <%for(let i=1; i<=31; i++){%>
          <option value="<%=i%>"><%=i%></option>
          <%}%>
        </select>
        <span>일</span>
      </fieldset>
      <fieldset>
        <legend>관심사</legend>
        <label>
          <input type="checkbox" name="favorite" value="여행" /> 여행
        </label>
        <label>
          <input type="checkbox" name="favorite" value="패션" /> 패션
        </label>
        <label>
          <input type="checkbox" name="favorite" value="음식" /> 음식
        </label>
      </fieldset>
      <fieldset>
        <legend>선택 사항</legend>
        <label>
          좋아하는 색상
          <input type="color" name="color" />
        </label>
        <br />
        <label>
          좋아하는 숫자
          <input type="number" name="number" />
        </label>
        <br />
        <label
          >다짐 한마디
          <textarea name="comment" cols="30" rows="10"></textarea>
        </label>
      </fieldset>
      <button>제출</button>
    </form>
  </body>
</html>
